<jw-modal id="custom-modal-1" class="pageModal">
  <h1>A Custom Angular 7 Modal!</h1>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
<div class="controlGroup">
  <div class="horizontalControl">
    <label for="typeahead-focus">Parameter Group</label>
    <br />
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem> Parameter group placeholder</button>
            <!-- use ng repeat here to iterate over groups creating each option in the drop down-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="horizontalControl">
  <label for="typeahead-focus">Filter Parameter Name</label>
  <br />
  <input type="text" (click)="functionCall()"/>
  </div>
  <div class="horizontalControl" class="rightMost">
      <label class="btn-primary" ngbButtonLabel>
        + Add Parameter
        </label>
  </div>
</div>

<div style="text-align:center">
  <table class="table">
    <thead>
      <tr>
        <th scope="row">Parameter Name</th><th>Data Type</th><th>Effective Start<br> Date</th><th>Value</th><th>Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of manifest | paginate: this.config">
        <td>{{item.pkgDestination}}</td><td>{{item.pkgTrackingId}}</td><td>{{item.pkgProcDate | prepDate | date: 'MM-dd-yy'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.pkgProcDate | prepDate | date: 'HH:mm'}}</td><td>{{item.pkgWeight}}</td><td><input type="button" (click)="openModal('custom-modal-1')"/></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>

<!--
<div class="horizontalControl" class="rightMost">
    <label class="btn-primary" ngbButtonLabel>
      + Add Parameter
      </label>
</div>
-->

