<div class = 'table-container'>
<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Tracking Id:</th>
      <th>Destination:</th>
      <th>ETA:</th>
      <th>Weight:</th>
      <th>Processed:</th>
      <th>Action:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let pkg of manifest'>
      <td>{{pkg.pkgTrackingId}}</td>
      <td>{{pkg.pkgDestination}}</td>
      <td>{{pkg.pkgETA}}</td>
      <td>{{pkg.pkgWeight}}</td>
      <td>{{pkg.pkgProcDate}}</td>
      <td><button>...</button></td>
    </tr>
  </tbody>
</table>
</div>


